<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Downloads"} %>

<table class="index">
	<tr>
		<th>Title</th>
		<th>URL</th>
		<th><%= t("action") %></th>
	</tr>
<% for s3_product in @s3_products -%>
	<tr>
		<td><%= link_to s3_product.title, admin_product_s3_product_path(@product, s3_product) %></td>
		<td><%= link_to s3_product.s3_url, s3_product.s3_url %></td>
		<td>
		  <%= link_to_with_icon('edit', t("edit"), edit_admin_product_s3_product_path(@product, s3_product)) %>
          &nbsp;
          <%= link_to_delete s3_product, {:url => admin_product_s3_product_path(@product, s3_product) } %>
		</td>
	</tr>
<% end %>
</table>

<p>
    <%= link_to icon('add') + ' ' + "New Download", new_admin_product_s3_product_path(@product), :id => "new_download_link" %>
</p>